body {
    overflow: hidden;
}

*{
    margin: 0;
}
div{
    width: 200px;
    height: 200px;
    position: absolute;
}
#kijarat{
    background-image: url("kijarat1.png");
    width: 50vw;
    height: 42.5vh;
    background-size: cover;
    left: 25vw;
    top: 0vh;
}
#forditos1{
    background-image: url("ko.png");
    background-size: cover;
    left: 40vw;
    top: 70vh;
}
#forditos2{
    background-image: url("ko.png");
    background-size: cover;
    left: 80vw;
    top: 30vh;
}
#forditos3{
    background-image: url("ko.png");
    background-size: cover;
    left: 60vw;
    top: 40vh;
}
#forditos4{
    background-image: url("ko.png");
    background-size: cover;
    left: 10vw;
    top: 65vh;
}
div p{
    margin-top: 4vh;
    color: black;
    font-size: 20px;
}
#main{
    width: 100vw;
    height: 100vh;
    background-image: url("padlooskor.jpg");
}

#nagykep{
    display: none;
    background-color: salmon;
    width: 75vw;
    height: 50vh;
    position: absolute;
    left: 12.5vw;
    top: 25vh;
    z-index: 2;
}
#nagykepHatter{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(116, 116, 116, 0.782);
    z-index: 4;
}
#exit{
    background-color: gray;
    width: 3vh;
    height: 3vh;
    padding-top: auto;
    text-align: center;
    font-size: 3vh;
    border-radius: 50%;
    font-family:Arial, Helvetica;
}
#nagykepContent{
    width: 50vw;
    height: 40vh;
    position: absolute;
    left: calc(20vw - 10px);
    top: calc(5vh);
    background-color: gray;
}
#kijelzo{
    height: 12.5vh;
    padding-top: 2vh;
    background-color: seagreen;
    color: chartreuse;
    text-align: center;
    font-size: 7.5vh;
}
#szamok button{
    position: relative;
    top: 15vh;
    left: 0.5vw;
    border-radius: none;
    border: 4px solid black;
    background-color: rgb(116, 116, 116);
    margin: 0;
    width: 30%;
    height: 50px;
}
#szamok{
    position: relative;
    left: 1vw;
    top: 2.25vh;
}
#emberke {
    background-image: url('ősZsiga/elol0.png');
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: calc(50vw - 125px);
    margin-top: calc(50vh - 125px);
    position: absolute;
    z-index: 3;
}
#kerdesHatter1, #kerdesHatter2, #kerdesHatter3, #kerdesHatter4{
    display: none;
    background-color: salmon;
    width: 75vw;
    height: 50vh;
    position: absolute;
    left: 12.5vw;
    top: 25vh;
    z-index: 4;
}
#kerdes1,#kerdes2,#kerdes3,#kerdes4{
    text-align: center;
    margin-top: 1vw;
    font-size: 2.5vw;
}
#valaszok1,#valaszok2,#valaszok3,#valaszok4{
    background-color: rgb(1, 115, 149);
    position: absolute;
    width: 50vw;
    height: 35vh;
    left: 15%;
}
#valaszok1 button,#valaszok2 button,#valaszok3 button,#valaszok4 button{
    width: 45vw;
    height: 5vh;
    margin: 1vw;
    margin-left: 2.5vw;
    font-size: 1.5vw;
}
#valaszGomb{
    position: relative;
    margin-left: 26.25vw;
    margin-top: 35vh;
    width: 20vw;
    height: 5vh;
    font-size: 2vw;
    padding: 0;
}
#evszam{
    width: 40vw;
    height: 5vh;
    margin: 5vw;
    font-size: 4vh;
    text-align: center;
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#kijelolt{
    background-color: gray;
}
.hús{
    width: 200px;
    height: 150px;
    background: url("csirkecomb.png");
    z-index: 2;
}
#csíktartó{
    height: 23px;
    width: 50px;
    background-color: #adadad;
    margin-left: 3vw;
    padding-top: 27.5vh;
    margin-top: 5vh;
}
#csík{
    width: 48px;
    background-color: green;
    margin: 1px;
    height: 0px;
}
#kicsiKijáratTartó{
    background-color: green;
    width: 35vw;
    height: 30vh;
    margin-top: 5vh;
    margin-left: 10vw;
    overflow: hidden;
}
#kicsiKijarat{
    background-image: url("kicsikijarat.png");
    width: 35vw;
    height: 25vh;
    background-size: cover;
}
#kő{
    background-image: url("szikla.png");
    width: 15vw;
    height: 15vw;
    background-size: cover;
    margin-left: 8.7vw;
    margin-top: 2.5vh;
}