*{
    margin: 0;
}
div{
    width: 200px;
    height: 150px;
    position: absolute;
}
#szef{
    background-image: url("szef.jpg");
    width: 175px;
    height: 170px;
    background-size: cover;
    left: 30vw;
    top: 25vh;
}
#forditos1{
    background-color: gray;
    left: 40vw;
    top: 70vh;
    
    text-align: center;
    font-size: 60px;
    color: darkgoldenrod;
}
#forditos2{
    background-color: gray;
    left: 75vw;
    top: 10vh;
    
    text-align: center;
    font-size: 60px;
    color: darkgoldenrod;
}
#forditos3{
    background-color: gray;
    left: 60vw;
    top: 30vh;
    text-align: center;
    font-size: 60px;
    color: darkgoldenrod;
}
#forditos4{
    background-color: gray;
    left: 10vw;
    top: 65vh;
    
    text-align: center;
    font-size: 60px;
    color: darkgoldenrod;
}
div p{
    margin-top: 4vh;
    color: black;
    font-size: 20px;
}
#main{
    width: 100vw;
    height: 100vh;
    background-image: url("padlooskor.jpg");
}

#nagykep{
    display: none;
    background-color: salmon;
    width: 75vw;
    height: 50vh;
    position: absolute;
    left: 12.5vw;
    top: 25vh;
    z-index: 2;
}
#nagykepHatter{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(116, 116, 116, 0.782);
    z-index: 2;
}
#exit{
    margin: 5px;
    background-color: gray;
    width: 5vh;
    height: 5vh;
    padding-top: auto;
    text-align: center;
    font-size: 4.5vh;
    border-radius: 50%;
    font-family:Arial, Helvetica;
}
#nagykepContent{
    width: 50vw;
    height: 40vh;
    position: absolute;
    left: calc(20vw - 10px);
    top: calc(5vh);
    background-color: gray;
}
#kijelzo{
    height: 12.5vh;
    padding-top: 2vh;
    background-color: seagreen;
    color: chartreuse;
    text-align: center;
    font-size: 7.5vh;
}
#szamok button{
    position: relative;
    top: 15vh;
    left: 0.5vw;
    border-radius: none;
    border: 4px solid black;
    background-color: rgb(116, 116, 116);
    margin: 0;
    width: 30%;
    height: 50px;
}
#szamok{
    position: relative;
    left: 1vw;
    top: 2.25vh;
}
#emberke {
    background-image: url('ősZsiga/elol.png');
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: calc(50vw - 125px);
    margin-top: calc(50vh - 125px);
    position: absolute;
    z-index: 1;
}
#kerdesHatter{
    display: none;
    background-color: salmon;
    width: 75vw;
    height: 50vh;
    position: absolute;
    left: 12.5vw;
    top: 25vh;
    z-index: 2;
}
#kerdes{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}
#valaszok{
    background-color: green;
    position: absolute;
    width: 50vw;
    height: 35vh;
    left: 15%;
}
#valaszok button{
    width: 45vw;
    height: 5vh;
    margin: 1vw;
    margin-left: 2.5vw;
    font-size: 30px;
}
#valaszGomb{
    position: relative;
    margin-left: 26.25vw;
    margin-top: 35vh;
    width: 20vw;
    height: 5vh;
    font-size: 2vw;
}