body {
    overflow: hidden;
}

*{
    margin: 0;
}
div{
    width: 175px;
    height: 110px;
    position: absolute;
}
#kijarat{
    background-image: url("fal.png");
    width: 100vw;
    height: 15vw;
    left: 0vw;
    top: 0vw;
    border-bottom: 5px solid black;
}
#ablak{
    background-image: url("ablak.png");
    height: 15vw;
    width: 15vw;
    position: relative;
    left: 42.5vw;
    background-size: cover;
}
#forditos1{
    background-image: url("lada.png");
    background-size: cover;
    left: 40vw;
    top: 70vh;
}
#forditos2{
    background-image: url("lada.png");
    background-size: cover;
    left: 80vw;
    top: 30vh;
}
#forditos3{
    background-image: url("lada.png");
    background-size: cover;
    left: 60vw;
    top: 40vh;
}
#forditos4{
    background-image: url("lada.png");
    background-size: cover;
    left: 10vw;
    top: 65vh;
}
#forditos5{
    background-image: url("lada.png");
    background-size: cover;
    left: 15vw;
    top: 20vh; 
}

div p{
    margin-top: 4vh;
    color: black;
    font-size: 20px;
}
#main{
    width: 100vw;
    height: 100vh;
    background-image: url("padlokozepkor.png");
}

#nagykep{
    display: none;
    background-color: salmon;
    width: 75vw;
    height: 50vh;
    position: absolute;
    left: 12.5vw;
    top: 25vh;
    z-index: 2;
}
#nagykepHatter{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(116, 116, 116, 0.782);
    z-index: 4;
}
#exit{
    background-color: gray;
    width: 3vh;
    height: 3vh;
    padding-top: auto;
    text-align: center;
    font-size: 3vh;
    border-radius: 50%;
    font-family:Arial, Helvetica;
}
#nagykepContent{
    width: 50vw;
    height: 40vh;
    position: absolute;
    left: calc(20vw - 10px);
    top: calc(5vh);
    background-color: gray;
}

#emberke {
    background-image: url('ősZsiga/elol0.png');
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: calc(50vw - 125px);
    margin-top: calc(50vh - 125px);
    position: absolute;
    z-index: 3;
}
#kerdesHatter1, #kerdesHatter2, #kerdesHatter3, #kerdesHatter4, #kerdesHatter5{
    display: none;
    background-color: salmon;
    width: 75vw;
    height: 50vh;
    position: absolute;
    left: 12.5vw;
    top: 25vh;
    z-index: 4;
}
#kerdes1,#kerdes2,#kerdes3,#kerdes4,#kerdes5{
    text-align: center;
    margin-top: 1vw;
    font-size: 2.5vw;
}
#valaszok1,#valaszok2,#valaszok3,#valaszok4,#valaszok5{
    background-color: rgb(1, 115, 149);
    position: absolute;
    width: 50vw;
    height: 35vh;
    left: 15%;
}
#valaszok1 button,#valaszok2 button,#valaszok3 button,#valaszok4 button,#valaszok5 button{
    width: 45vw;
    height: 5vh;
    margin: 1vw;
    margin-left: 2.5vw;
    font-size: 1.5vw;
}
#valaszGomb{
    position: relative;
    margin-left: 26.25vw;
    margin-top: 35vh;
    width: 20vw;
    height: 5vh;
    font-size: 2vw;
    padding: 0;
}
#evszam1,#evszam2,#evszam3,#evszam4,#evszam5{
    width: 40vw;
    height: 5vh;
    margin: 5vw;
    font-size: 4vh;
    text-align: center;
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#kijelolt{
    background-color: gray;
}
.sampon{
    width: 75px;
    height: 75px;
    background: url("sampon.png");
    z-index: 2;
    margin-left: 75px;
    margin-top: -10px;
    background-size: cover;
}
#tarto{
    margin: auto;
    width: 350px;
    height: 450px;
    background-image: url("torony.png");
}
#tarto div{
    height: 50px;
    width:  50px;
    float: left;
    position: unset;
    background-color: transparent;
    box-sizing: border-box;
}
.ut{
    border: 1px solid black;
}